.maindiv {
  background-color: rgb(255, 255, 255);
  top: 10%;
  /* margin-left: 25%; Remove this */
  width: 50%;
  border-radius: 0.4rem;
  margin-bottom: 100px;
}

.maindiv h1 {
  font-size: 50px;
  font-weight: 500;
  margin: auto; /* Center align the header */
  /* Added this */
  padding-top: 20px;
}

/* Not Needed */
/* .container .text-center {
  left: 20px;
} */

.maindiv .full_name {
  padding-top: 20px;
}

.maindiv .full_name .inner_text {
  padding-left: 40px;
  display: flex;
}

@media screen and (max-width: 480px) {
  .maindiv .full_name .inner_text {
    padding-left: 40px;
    display: block;
  }

  .phone .phone_email {
    margin-left: 0px;
  }
}

.maindiv .full_name h2 {
  padding-left: 55px;
  font-size: 15px;
}

.maindiv .full_name .inner_text input {
  padding-left: 10px;
  height: 45px;
  border: none;
  border-style: none;
  margin-left: 15px;
  border-radius: 0.6rem;
  width: 40%;
  outline: none;
  background-color: rgb(217, 217, 217);
}

/* .maindiv h1 {
  font-size: 50px;
  font-weight: 500;
  padding-left: 26%;
  padding-bottom: 0;
} */

.address {
  padding-left: 40px;
}

.address .inner_text input {
  padding-left: 10px;
  height: 45px;
  border: none;
  border-style: none;
  border-radius: 0.6rem;
  width: 83%;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.address input {
  padding-left: 10px;
  margin-top: 10px;
  margin-left: 15px;
  height: 45px;
  border: none;
  border-style: none;
  border-radius: 0.6rem;
  width: 83%;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.address .add_inner input {
  padding-left: 10px;
  height: 45px;
  border: none;
  border-style: none;
  border-radius: 0.6rem;
  width: 40%;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.address .inner_text h2 {
  padding-left: 15px;
  font-size: 15px;
}

.phone {
  display: flex;
  padding-left: 55px;
}

.phone .phone_inner input {
  padding-left: 10px;
  height: 45px;
  border: none;
  border-style: none;
  border-radius: 0.6rem;
  width: 240px;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.phone .phone_email {
  margin-left: 15px;
}

.phone .phone_email input {
  padding-left: 10px;
  height: 45px;
  border: none;
  border-style: none;
  border-radius: 0.6rem;
  width: 240px;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.phone .phone_inner h2 {
  padding-left: 5px;
  font-size: 15px;
}

.phone .phone_email h2 {
  padding-left: 5px;
  font-size: 15px;
}

.Arrival .inner_arival {
  padding-left: 40px;
  display: flex;
}

.Arrival h2 {
  padding-left: 55px;
  font-size: 15px;
}

.Arrival .inner_arival input {
  padding-left: 10px;
  height: 45px;
  border: none;
  border-style: none;
  margin-left: 15px;
  border-radius: 0.6rem;
  width: 40%;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.Departure .inner_departure {
  padding-left: 40px;
  display: flex;
}

.Departure h2 {
  padding-left: 55px;
  font-size: 15px;
}

.Departure .inner_departure input {
  padding-left: 10px;
  height: 45px;
  border: none;
  border-style: none;
  margin-left: 15px;
  border-radius: 0.6rem;
  width: 40%;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.adult_main {
  display: flex;
  padding-left: 55px;
}

.adult_main .adult_inner input {
  padding-left: 10px;
  height: 45px;
  border: none;
  border-style: none;
  border-radius: 0.6rem;
  width: 230px;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.adult_main .adult_inner h2 {
  padding-left: 0;
  font-size: 15px;
}

.adult_main .kid_inner input {
  padding-left: 10px;
  margin-left: 15px;
  height: 45px;
  border: none;
  border-style: none;
  border-radius: 0.6rem;
  width: 240px;
  outline: none;
  background-color: rgb(217, 217, 217);
}

.adult_main .kid_inner h2 {
  padding-left: 15px;
  font-size: 15px;
}

.text-center {
  margin-right: 0;
}

/* Responsive styles */
@media (min-width: 300px) and (max-width: 450px) {
  .maindiv h1 {
    font-size: 30px;
  }

  .maindiv {
    width: 75%;
  }

  .maindiv .full_name .inner_text input {
    margin-top: 8px;
    display: block;
    width: 250px;
  }

  .address .add_inner input {
    display: inline-flex;
    width: 250px;
  }

  .address input {
    width: 250px;
  }

  .Arrival .inner_arival input {
    width: 10rem;
  }

  .Departure h2 {
    padding-left: 55px;
  }

  .Departure .inner_departure input {
    width: 10rem;
  }

  .adult_main .adult_inner h2 {
    padding-left: 0;
  }

  .adult_main .adult_inner input {
    width: 250px;
  }

  .adult_main .kid_inner h2 {
    padding-left: 0;
  }

  .adult_main .kid_inner input {
    width: 250px;
    margin-left: 0;
  }

  .phone .phone_email input {
    width: 250px;
  }

  .phone .phone_inner input {
    width: 250px;
  }

  .address .inner_text input {
    width: 250px;
  }

  .phone .phone_email {
    padding-left: 0;
  }

  .maindiv {
    margin-left: 0;
  }

  .maindiv .full_name .inner_text {
    display: block;
  }

  .phone {
    display: block;
  }

  .adult_main {
    display: block;
  }
}

@media (min-width: 450px) and (max-width: 1000px) {
  .phone {
    display: block;
  }

  .phone .phone_email input {
    width: 85%;
  }

  .phone .phone_inner input {
    width: 85%;
  }

  .adult_main {
    display: block;
  }

  .adult_main .adult_inner input {
    width: 85%;
  }

  .adult_main .kid_inner input {
    width: 85%;
    margin-left: 0;
  }

  .adult_main .kid_inner h2 {
    margin-left: 0;
  }
}

/* changes */
@media screen and (max-width: 480px) {
  .maindiv .full_name .inner_text {
    padding-left: 40px;
    display: block;
  }

  .phone .phone_email {
    margin-left: 0px;
  }
}
