@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.pricing-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f5f5f5; /* Adjust background color as needed */
  width: 100%;
  height: 80vh;
  z-index: -1;
}

.pricing-title {
  font-family: "Caesar Dressing", system-ui;
  font-size: 3.5rem;
  font-weight: lighter;
  margin-bottom: 30px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.pricing-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 350px;
  transition: transform 0.3s;
}
.pricing-card:hover {
  transform: translateY(-5px);
}

.pricing-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.pricing-info {
  padding: 10px;
}

.pricing-info p{
  padding-bottom: 7px;
  font-size: 17px;
}

.info-style{
  position: absolute;
  margin-top: 30px;
  margin-left: 15px;
  z-index: 1;
  color: #f5f5f5;
}

.info-style h2{
  font-size: 28px;
}

.info-style p{
  font-size: 17px;
}

.book-button {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.book-button:hover {
  background-color: black;
  color: white;
}


/*Smart Phone*/
@media screen and (max-width: 767px) {
  .pricing-title {
    font-size: 2.5rem;
  }

  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    width: 90%;
  }

  .pricing-image {
    height: 200px;
  }

  .info-style h2 {
    font-size: 1.25rem;
  }

  .info-style p {
    font-size: 0.875rem;
  }

  .pricing-info p {
    font-size: 0.875rem;
  }
}

/*Smart Phone*/
@media screen and (max-width: 767px) {
  .pricing-section{
    height: 140vh;
  }
}

/*Tablets*/
@media screen and (min-width: 767px) and (max-width: 1023px) {

  .pricing-section{
    height: 60vh;
  }
  .pricing-title {
    font-size: 3rem;
  }

  .pricing-cards {
    flex-direction: row;
    justify-content: space-around;
  }

  .pricing-card {
    width: 40%;
  }

  .pricing-image {
    height: 250px;
  }

  .info-style h2 {
    font-size: 1.5rem;
  }

  .info-style p {
    font-size: 1rem;
  }

  .pricing-info p {
    font-size: 1rem;
  }
}


