@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.explore-info {
  background-color: #f9f9f9;
  width: 100%;
  margin-top: 30px;
  padding: 0 20px; 
  position: relative;
  overflow: hidden; 
}

.infos {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: auto; 
  padding: 20px 10px; 
}

.left-content-box, .right-content-box {
  width: 100%; 
  text-align: center; 
  margin-bottom: 20px; 
}

.left-content-box .p1, .p2, .p3, .p4 {
  font-size: 12vw; 
  display: block;
  font-family: "Caesar Dressing", system-ui;
  text-align: right;
}

.right-content-box > p, .right-content-box > ul {
  font-size: 5vw; 
}

.right-content-box > ul {
  list-style-type: disc;
  padding-left: 20px;
}

.right-content-box li {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 4vw; 
}

.icons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}

.icon {
  margin: 10px; 
}

.icons p {
  padding-top: 5px;
}

.icons p span {
  display: block;
}

/* Media queries for larger screens */
@media (min-width: 600px) {
  .explore-info {
    height: auto; 
    padding: 0 50px;
  }

  .infos {
    flex-direction: row; 
    padding: 30px 50px;
  }

  .left-content-box, .right-content-box {
    width: 45%; 
    text-align: left; }

  .left-content-box .p1, .p2, .p3, .p4 {
    font-size: 6vw; 
  }

  .right-content-box > p, .right-content-box > ul {
    font-size: 2vw; 
  }

  .right-content-box li {
    font-size: 1.5vw; 
  }

  .icon {
    flex: 1; 
    min-width: 80px; 
  }

}

@media (min-width: 545px) {

  .icon,
  .icons p{
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .explore-info {
    height: 85vh; 
    padding: 0 150px; 
  }

  .infos {
    padding: 30px 90px; 
  }

  .left-content-box .p1, .p2, .p3, .p4 {
    font-size: 3vw; 
  }

  .right-content-box > p, .right-content-box > ul {
    font-size: 1.5vw; 
  }

  .right-content-box li {
    font-size: 1.2vw; 
  }
  

  .icons p{
    font-size: 20px ;
  }
}
