@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.section-container{
  background: rgba(255, 111, 0, 1);
  width: 100%;
  color: #FFFF;
}

.content{
  padding: 7%;
}

.image-text-container{
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-text-container .image{
  width: 32%;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-text-container .text{
  padding: 0 50px;
}

.image-text-container .text h2{
  font-family: "Caesar Dressing", system-ui;
  font-style: normal;
  font-size: 50px;
  padding-bottom: 20px;
}

.image-text-container .text p{
  line-height: 40px;
}

.image-text-container .text ul{
  line-height: 30px;
}

.image-text-container2{
  width: 100%;
  /* height: 50vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

.image-text-container2 .head h2{
  font-family: "Caesar Dressing", system-ui;
  padding-left: 30px;
  font-size: 50px;
  font-weight: lighter;
  /*width: 30%;*/
  position: absolute;
  z-index: 1;
}

.image-text-container2 .head span{
  font-family: "Caesar Dressing", system-ui;
  display: block;
}

.image-text-container3{
  display: block;
  width: 60%;
}

.image-text-container3 .image1{
  width: 90%;
  left: -180px;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.image-text-container3 .cont-list{
  margin-left: -180px;
  line-height: 40px;
}

.experience{
  padding: 40px;
}

.exp-write{
  line-height: 30px;
  font-size: 15px;
}

.porta{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  gap: 40px;
}

.porta .horizon{
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
}

.porta_info li{
  line-height: 30px;
  font-size: 15px;
}

/*Smart Phone*/
@media screen and (max-width: 767px) {
  .image-text-container{
    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */
  }

  .image-text-container .image
  {
    width: 70%;
  }

  .image-text-container .text{
    padding: 0 20px;
  }

  .image-text-container .text h2{
    font-size: 30px;
    padding-top: 10px;
  }
  
  .image-text-container .text ul,
  .image-text-container .text p{
    padding-top: 0;
    line-height: 18px;
  }

  .image-text-container2{
    margin-left: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .image-text-container2 .head h2{
    position: absolute;
    font-size: 40px;
    padding-top: 20px;
  }

  .image-text-container3{
    /* margin-left: 100px; */
    padding: 0 10px;
  }

  .image-text-container3 .image1{
    width: 300px;
  }
  
  .image-text-container3 .cont-list{
    line-height: 25px;
  }

  .porta{
    display: block;  
    flex-wrap: wrap;
  }

  .porta .horizon{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    padding-bottom: 25px;
  }
}

